#youtubesearch
{
    text-align: center;
}

#Searchyoutube
{
   
    width: 20% ;
 height: 30px;
 color: blue;
}




.TdDiv
{
    width: 400px;
    height: 240px;
}

.padding-table-columns td
{
    padding:0 15px 0 0; /* Only right padding*/
}

td
{
    padding:0 15px 0 15px;
}

#YoutubeId td
{
    padding:0 37px 37px 37px;
}
